$primary:       #26B6C6;
$secondary:     #AEE8CA;
$success:       #6ACFC9;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
$light:         #FAEDDA;
$dark:          #000000;

// Typography dancing script and nunito
// previous: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif: 'Nunito', sans-serif;



@import "../scss/bootstrap.scss";

// scss-docs-start custom-variables
// #000000 #FAEDDA #AEE8CA #6ACFC9 #26B6C6


