$primary:       #26B6C6;
$secondary:     #AEE8CA;
$success:       #6ACFC9;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
$light:         #FAEDDA;
$dark:          #000000;

@import "../scss/bootstrap.scss";

// scss-docs-start custom-variables
// #000000 #FAEDDA #AEE8CA #6ACFC9 #26B6C6


