<!-- FILEPATH: /home/cdmonsalvea/rafael/rafael_web/home/templates/home/homepage/testimony.html -->
<!-- BEGIN: abpxx6d04wxr -->
{% load static %}
{% block content %}
<div id="testimonios" class="container"><hr class="my-5"></div>
<section class="py-5 my-5">
    <div class="container">
        <h2 class="text-center mb-5">Testimonios</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Testimonio 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquam tincidunt, urna nunc lacinia nunc, ac tincidunt felis nunc id elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Testimonio 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquam tincidunt, urna nunc lacinia nunc, ac tincidunt felis nunc id elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Testimonio 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquam tincidunt, urna nunc lacinia nunc, ac tincidunt felis nunc id elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

