<div class="container">
  <hr class="my-5">
</div>
<div class="container">
  <footer class="py-3">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Rafael</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Página principal</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre nosotros</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Precios</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas frecuentes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Servicios</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Psicologos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Abogados</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Contacto</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contactanos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Redes sociales</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Emergencias</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Empresas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Chat</a></li>
        </ul>
      </div>
      
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Suscribete a nuestro blog.</h5>
          <p>Una pildora de consejos y tips para tu salud mental.
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Suscribete</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="d-flex flex-column flex-sm-row justify-content-between py-5 my-5 border-top">
      <p>© 2024 Rafael, Todos los derechos reservados.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-facebook"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-instagram"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-x-twitter"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-youtube"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-tiktok"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-whatsapp"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-linkedin"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-spotify"></i><a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-xl fa-twitch"></i><a></li>
      </ul>
      <!-- TODO: #3 Terminos y condiciones -->
      <ul class="list-unstyled d-flex ml-5">
        <li class="text-center"><a class="link-dark" href="#">Terminos y condiciones</a></li>
        <li class="text-center"><a class="link-dark" href="#">Politicas de privacidad</a></li>
        <li class="text-center"><a class="link-dark" href="#">Politicas de cookies</a></li>
    </div>
  </footer>
</div>