{%include 'home/nav.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafael</title>
  <!-- * Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}">
  <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- * Fontawesome -->
  <script src="https://kit.fontawesome.com/8777a6e93d.js" crossorigin="anonymous"></script>
  <!-- * Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- * Custom JS -->
  <script src="{% static 'js/main.js' %}"></script>
  <!-- * Favicon -->
  <link rel="rafael-icon" sizes="180x180" href="{% static 'img/favicon/logo.svg' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/logo.svg' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/logo.svg' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/logo.svg' %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static 'img/favicon/logo.svg' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
</head>



    <section class="d-flex justify-content-center">
      

        {% block content %}
          <h2>Create a new post</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
          </form>
        {% endblock %}
    </section>
