
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{post.title}}</title>
  <!-- * Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}">
  <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- * Fontawesome -->
  <script src="https://kit.fontawesome.com/8777a6e93d.js" crossorigin="anonymous"></script>
  <!-- * Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- * Custom JS -->
  <script src="{% static 'js/main.js' %}"></script>
  <!-- * Favicon -->
  <link rel="rafael-icon" sizes="180x180" href="{% static 'img/favicon/logo.svg' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/logo.svg' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/logo.svg' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/logo.svg' %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static 'img/favicon/logo.svg' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
</head>
{%include  'home/nav.html'%}


{% block page_title %}
    <div class="container py-5">
        <div class="d-flex justify-content-center">
            <img src="{{ post.image.url }}" alt="{{post.title}}" class="img-fluid position-relative" >
        <h1 class="display-2 cursive position-absolute fw-bold text-light " >{{ post.title }}</h1>
    </div>
    </div>
{% endblock page_title %}

{% block page_content %}
<div class="container">
    <small>
        {{ post.created_on.date }} | Categorias:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}" class="text-decoration-none">
                {{ category.name }} 
            </a>
        {% endfor %}
    </small>
    <p>{{ post.body | safe }}</p>
</div>




<div class="container ">
    <h3>Dejanos un comentario:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.author }}
        </div>
        <div class="mb-3">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
   
    <h3>Comentarios:</h3>
   
    {% for comment in comments %}
        <p>
            Por {{ comment.created_on.date }} <b>{{ comment.author }}</b>:
        </p>
        <p>
            {{ comment.body | linebreaks }}
        </p>
    {% endfor %}
</div>

{% endblock page_content %}