{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafael</title>
</head>
<body>
  <!-- * Navbar -->
  {% include 'home/nav.html' %}
  <!-- * Content -->
  {% if request.path == '/' or request.path == '/home/' %}
  {% include 'home/homepage.html' %}
  {% elif request.path == '/services/' %}
  {% include 'home/servicespage.html' %}
  {% elif request.path == '/team/' %}
  {% include 'home/teampage.html' %}
  {% elif request.path == '/blog/' %}
  {% include 'home/blogpage.html' %}
  {% elif request.path == '/contact/' %}
  {% include 'home/contactpage.html' %}
  {% endif %}
</body>

<footer class="bg-primary">
  <!-- Footer, with social media links -->
  <p>Footer</p>
</footer>
</html>